<p>quotes of the week</p>
<p><i>-{{quote.author}}</i></p>
<div class=" mt-5">
    <p>posted {{quote.datepublished|count}}<span class="text-danger">* </span> days ago</p>
    
        <div class="row justify-content-center mt-2">
        
            <div class="col-md-3">
                <button type="button" (click)="Dislike()" class="btn btn-light"><fa-icon [icon]="faThumbsDown" class="text-danger col-sm-3" ></fa-icon></button>
            </div>
            <div class="col-md-3 text-center">
             mt-5   <p>{{noOflike}}</p>
            </div>
            <div class="col-md-3">
                <button type="button" (click)="Like()" class="btn btn-light"><fa-icon [icon]="faThumbsUp" class="text-success col-sm-3" ></fa-icon></button>
            </div>
        </div>
</div> 
<div class="float">
    <button type="button" class="btn btn-danger " (click)= 'delete(true)' ><fa-icon [icon]="faCoffee"></fa-icon></button>
</div>


